@font-face {
  font-weight: 400;
  src: url('@/assets/fonts/static/Onest-Regular.ttf');
}
@font-face {
  font-weight: 500;
  font-family: 'Onest', sans-serif;
  src: url('@/assets/fonts/static/Onest-Medium.ttf');
}

body{
  font-weight: 400;
  font-family: 'Onest', sans-serif;
  background-color: #f3efe4;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4 {
  margin: 0;
}

.app_wrapper{
  max-width: 1240px;
  margin: 70px auto;
  display: flex;
}

/*--------------------*/

.header__box {
  height: 60px;
  background-color: white;
  padding: 11px 12px 10px 20px;
  display: flex;
  &__link{
    padding: 6px;
    margin-left: 20px;
    color: black;
    font-weight: 600;
  }
}
.header__box--icon{
  margin: 7px 0;
}

/*-----------------------*/
.text__block{
  max-width: 737px;
  max-height: 578px;
  background-color: white;
  border-radius: 12px;
  padding: 24px 24px 20px 24px;
  overflow-y: scroll;
  margin-left: 20px ;
  &__time{
    color: #AAA;
    width: 64px;
    font-size: 15px;
    line-height: 22px;
  }
  &__row{
    padding: 10px 0;
  }
  &__text{
    &:hover{
      cursor: pointer;
      background: rgba(101, 73, 73, 0.22); /* Цвет фона */
      border-radius: 10px;
    }
    &--active{
      background: rgba(218, 245, 41, 0.29); /* Цвет фона */
      border-radius: 10px;
    }
  }
}
#element::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #AAA;
}

#element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

/*-----------------------*/
.video__box{
  width: 430px ;
  max-height: 278px;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  margin: 0 17px;
}

.video__player{
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .app_wrapper{
    max-width: 1240px;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .video__box{
    order: 1;
  }
  .text__block{
    order: 2;
    margin: 20px;
  }
}
